.container1,
.container2 {
  text-align: center;
}

.jumbotron{
    background-color: yellow !important;
    background-image: url(../img/burger-512.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
}


img{
  width: 200px;
  height: 200px;
  text-align: center;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;        
  text-align: center;
  top: 0; /* Adjust this value to move the positioned div up and down */
}

.change-devour,
.delKitty,
.add{
  border-radius: 12px;
}

button{
  border-radius: 12px;
}


h2,
h3
{
  font-family: "Shrikhand", cursive;
  color: red;
  text-shadow: 2px 2px black;
}

.display-4{
  text-shadow: 3px 3px black;
  font-family: "Shrikhand", cursive;
  color: red; 
}

.form-group{
  font-family: "Bangers", cursive;
}

ul {
  font-family: "Bangers", cursive;
  
}

.add,
.name,
.bName{
    font-family: "Shrikhand", cursive;

}



footer{
 text-align: center;
 background-color: yellow;
 color: red;
 font-family: "Shrikhand", cursive;
}

/* iPad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .display-4{
      font-size: 38px !important;

    }
    .jumbotron {
      background-image: url(../img/burger-512.png);
      background-size: 175px;
      background-color: yellow !important;
      background-position: center center;
      background-repeat: no-repeat;
  }

  .left,
  .right {
    width: 100%;
    margin-bottom: 25px;
  }


}

/* iPhone 6-X Responsiveness */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .display-4{
      font-size: 38px !important;

    }
    .jumbotron {
      background-image: url(../img/burger-512.png);
      background-size: 175px;
      background-color: yellow !important;
      background-position: center center;
      background-repeat: no-repeat;
  }

  .left,
  .right {
    width: 100%;
    margin-bottom: 25px;
  }

}

/* iPhone 5 Responsiveness */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .display-4{
      font-size: 38px !important;

    }
    .jumbotron {
      background-image: url(../img/burger-512.png);
      background-size: 175px;
      background-color: yellow !important;
      background-position: center center;
      background-repeat: no-repeat;
  }
  .left,
  .right {
    width: 100%;
    margin-bottom: 25px;
  }
}



